<!--


<div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <div class='pull-left text-uppercase'>
              <span class="translation_missing" title="translation missing: en.sidebar.employees">Employees</span>
            </div>
            <div class='pull-right'>
              <div class='btn-group'>
                <div aria-expanded='false' class='btn btn-default btn-xs dropdown-toggle' data-toggle='dropdown'>
                  Action
                  <span class='caret'></span>
                </div>
                <ul class='dropdown-menu' role='menu'>
                  <li>
                    <a href="/manager/employees/new"><i class="fa fa-plus"></i>
                    New Employee
                    </a>
                  </li>
                  
                  <li>
                    <a href="/manager/employees"><i class='fa fa-users'></i>
                    All Employees
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class='clearfix'></div>
          </div>
          <div class='panel-body'>
            <table class='table table-condensed table-striped table-bordered'>
              <tr>
                <td>Zachary Bartlett</td>
                <td class='text-center'>
                  <a class="btn btn-primary btn-xs" href="/manager/employees/1750">View</a>
                </td>
                <td class='text-center'>
                  <a href="/manager/employees/1750/edit"><i class="fa fa-edit"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <
              </tr>
            </table>
            
          </div>
        </div>
      </div>
    </div>