<% provide(:title, 'Folders') %>

<p id="notice"><%= notice %></p>

<h1>Company Documents</h1>

<p>
  <%= link_to "New folder", :new_company_folder, class: "btn btn-primary", role: "button" %>
</p>
</br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <!-- document count here? -->
    </tr>
  </thead>
  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td>
          <%= link_to folder.title, company_folder_path(id: folder.id) %>
        </td>
          <!-- document count here? -->        
      </tr>
    <% end %>
  </tbody>
</table>


