<p id="notice"><%= notice %></p>

<h1>Folders</h1>

<p>
  <%= link_to "New folder", :new_folder, class: "btn btn-primary", role: "button" %>
</p>
</br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <!-- document count here? -->
    </tr>
  </thead>
  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td class='image'>
          <%= attachment_image_tag folder, :image, :fill, 60, 60 %>
        </td>
        <td>
          <%= link_to folder.title, folder %>
        </td>
        
          <!-- document count here? -->
        
      </tr>
    <% end %>
  </tbody>
</table>


