<body class='devise-sessions'>
    <div class='container-fluid'>
      <div class='login-page'>
        <div class='row'>
          <div class='col-md-4 col-md-offset-4'>
            <div class='main-logo'>
              <%= image_tag("logo.png", alt: "Core")%>
            </div>
            <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="S/lY1OmypLEHr6ybXJWy+f/D10xDrbJ9yNswT7zFW3A=" /></div>      
              <div class='input-group bottom-margin'>
                <span class='input-group-addon'>
                  <i class='icon pe-7f-user'></i>
                </span>
                  <input autocomplete="off" autofocus="autofocus" class="form-control input-text" id="user_email" name="user[email]" placeholder="Email" type="email" value="" />
              </div>
              <div class='input-group'>
                <span class='input-group-addon'>
                  <i class='icon pe-7f-lock'></i>
                </span>
                  <input autocomplete="off" class="form-control input-text" id="user_password" name="user[password]" placeholder="Password" type="password" />
              </div>
              <div class='form-group'>
                <div class='checkbox'>
                  <label>
                    <input name="user[remember_me]" type="hidden" value="0" /><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
                    Remember me
                  </label>
                </div>
              </div>
                <input class="btn btn-success full-width" name="commit" type="submit" value="Login" />
            </form>
            <div class='help-links'>
              <a href="/users/password/new">Forgot your password?</a>
              <p class="notice"></p>
              <p class="alert"><%= alert %></p>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </body>