<h1>Editing Employee Benefit Selection</h1>

<%= render 'form' %>

<%= link_to 'Show', company_employee_employee_benefit_selection_path(@employee_benefit_selection.employee.company, @employee_benefit_selection.employee, @employee_benefit_selection) %> |
<%= link_to 'Back', company_employee_employee_benefit_selections_path %>
