<p id="notice"><%= notice %></p>

<h1>Listing Employee Benefits</h1>

<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>PTO Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <% @benefit_profiles.each do |benefit_profile| %>
          <tr>
        


          </tr>
      <% end %>
  </tbody>
</table>

<br>