<% provide(:title, 'Home') %>
<div class="center jumbotron">
  

  <% if current_user.admin? %>
  <h1>Nearly Constructed...</h1>
  </br></br>
  <h2>
    Eventual home page for the new Core App!
  </h2>
  </br>
    <a>
    	<%= link_to 'View Companies', companies_path %>
    </a>
    </br></br>
    <a>
    	<%= link_to 'View Users', users_path %>
    </a>
    </br></br>
  <% elsif current_user.employee? %>
    <a>  ee_id = EmployeeAdditionalLogin.find_by(employee_id: current_user.id) </a>
    <a Swipeclock.clock_in(ee_id) class="btn btn-success btn-sm" role="button">Clock in / out
    </a>
    </br></br>
  <% end %>
    <a>
    	<%= "Current User: #{current_user.email}" %>
    </a>


</div>
  
