<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Temporary Dashboard</h1>

  <h2>
    Eventual home page for the new Core App!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

