<% provide(:title, '401k') %>
<div class="center jumbotron" style="text-align: center">
  
  <h1 style="text-align: center"> 401k coming soon </h1>
  
  <h2> -your friends @ Core </h2>
  </br>
  <a>
  	<%= link_to 'Home', root_path %>
  </a>
  </br></br>
  
</div>
  
