<% provide(:title, '401k') %>
<div class="center jumbotron" style="text-align: center">
  
  <h1 style="text-align: center"> 401k coming soon </h1>
  
  <h2> -your friends @ Core </h2>
  </br>
  	<span class="btn btn-success"><i class='fa fa-home', style="color:white;"></i>
  	<%= link_to 'Home', root_path, {style: "color:white; text-decoration: none;" } %></span>
  
  </br></br>
  
</div>
  
