// Conversion of old sass to scss for site colors

$grey-dark: #444444;
$grey-darker: #323232;
$text-grey: dimgrey;
$grey: #9a9a9a;
$grey-1: #2c353a;
$grey-2: #a5a5a5;
$grey-3: #b8b8b8;
$grey-4: #e5e5e5;
$grey-5: #f6f6f6;

$notice-color: red;
$link-red: #ff3333;

$yellow-1: #dce02e;
$yellow-hover: #cdde81;

$beige: rgb(250, 255, 189);

$green-1: #afd237;
$green-2: #0f9547;
$green-3: #086737;
$green-dark: #5cb85c;