// Place all the styles related to the Employees controller here.
// Stylin' EE table on index load
@import 'colors';
@import 'fonts';

.employees {
	font-family: open_sansregular;
	font-size: 14px;
	color: $text-grey;
	box-sizing: border-box;
	
	h1 {
	padding-bottom: 10px;
	text-align: left;
	font-family: open_sansbold;
	}
	th, td {
		padding: 5px 20px;
		border: solid 1px $text-grey;
		border-collapse: collapse;
	}
	th {
		text-align: center;
		font-family: open_sansbold;
		font-size: 14px;
		background-color: $green-dark;
		.current{
			padding-right: 12px;
			background-repeat: no-repeat;
			background-position: right center;
		}
		// up arrow from FA for sorting asc
		.asc {
			position:relative;
			&:before {
				content: "\f106";
				font-family: FontAwesome;
				font-size: 16px;
				position: absolute;
		    color: $grey-dark;
		    top: 0;
		    left: -15px;		    
			}
		}
		// down arrow from FA for sorting desc
		.desc {
			position:relative;
			&:before {
				content: "\f107";
				font-family: FontAwesome;
				font-size: 16px;
				position: absolute;
		    color: $grey-dark;
		    top: 0;
		    left: -15px;		    
			}
		}
	}
	td {
		text-align: left;
		// center Actions links
		&:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
			text-align: center;
		}
	}
	i {
		color: white;
		font-size: 14px;
	}	
}

.wrapper {
	margin: 0, 0 auto;
	width: 800px;
}

.ee_profile_headers {	
	
	p {
		text-align: right;
		width: 200px;
		float: left;
		padding-right: 20px;
		font-size: 22px;
		font-family: open_sansregular;
		background-color: $text-grey;
		color: white;
		border-radius: 7px;
		border-bottom: solid 2px $green-dark;
		border-left: solid 2px $green-dark;
		border-top: solid 2px $green-dark;
		border-right: solid 2px $green-dark;
		box-shadow: 7px 10px 20px $grey;
		box-shadow: 7px 10px 20px $grey;
		padding-bottom: 20px;
	}	
	span {
		border-bottom: solid 2px $green-dark;
	}
}

.ee_profile_info {
	
	p {
		float: left;
		margin-left: 15px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 22px;
		font-family: open_sansbold;		
		color: $green-dark;
		border-radius: 7px;
		border-bottom: solid 2px $grey;
		border-left: solid 2px $grey;
		border-top: solid 2px $grey;
		border-right: solid 2px $grey;
		box-shadow: 7px 10px 20px $grey;
		padding-bottom: 20px;
	}
	span {
		border-bottom: solid 2px $grey;
	}
}

.links {
	// clear: both puts links under wrapper
	clear: both;
	text-align: left;
	i {
		color: white;
	}
}

