// Place all the styles related to the ee_ben_selections controller here.
// Stylin' ben_selections
@import 'colors';
@import 'fonts';

.selections {
	font-family: open_sansregular;
	font-size: 14px;

	ul.selection-header {
		margin: 0;
		padding: 0;
		text-align: center;
		font-family: open_sansbold;
	}	
	ul.selection-header li{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		background-color: $green-dark;
		color: white;
		border: solid 1px white;
		float: left;
	}
	div.selection-cell {
		display: inline-block;
		height: 50px;
		line-height: 50px;
		border: solid 1px $text-grey;
	}
	div.selection-choice-item {
		padding: 0px 20px;
		color: black;
		font-family: open_sansregular;
		font-size: 16px;
		float: left;
	}
	div.selection-choice-item-name {
		padding: 0px 20px;
		color: $green-dark;
		font-family: open_sansbold;
		width: 325px;
		float: left;
	}
	div.selection-disability {
		table, td {
			height: 40px;
			line-height: 40px;
			color: $green-dark;
			font-family: open_sansbold;
			font-size: 18px;
			text-align: center;
		}
	}
	h1 {
		padding-bottom: 10px;
		text-align: left;
		font-family: open_sansbold;
	}
	th, td {
		padding: 5px 20px;
		border: solid 1px $text-grey;
		border-collapse: collapse;
		box-sizing: border-box;
		text-align: left;
		color: $text-grey;
	}
	th {
		font-family: open_sansbold;
		font-size: 14px;
		background-color: $green-dark;
		color: white;
		&:nth-child(2), &:nth-child(3) {
			text-align: center;
		}
	}
	p {
		text-align: left;
	}
	span {
		color: $green-dark;
		font-family: open_sansbold;
	}
	i {
		color: white;
	}
	a {
    color: $green-dark;
    text-decoration: none;
    font-family: open_sansregular;
    &:hover{
    	background: $yellow-hover;
  		color: white;
      text-decoration: none;
    }
  }
}

.buttons {
	.btn-danger{
    	border: solid 2px black;
    	&:hover{
	      background-color: $grey;
	      color: black;
	      border: solid 2px black;
	    }
  	}
    .btn-success{
	    border: solid 2px $green-2;
	    &:hover{
	      background-color: $grey;
	      color: black;
	      border: solid 2px black;
	    }
  	}
    i {
    	color: white;
  	}
  	a {
	    color: white;
	    text-decoration: none;
	    &:hover{
	      color: white;
	      text-decoration: none;
	    }
  	}
}

.life-insurance {
	margin-bottom: 10px;
	border-bottom: 1px solid $grey;
}