// Place all the styles related to the Folders controller here.
@import 'colors';
@import 'fonts';

body {
  margin: 50px 0;
  .btn-primary {
    font-size: 16px;
    float: none !important;
    display: block;
    width: 130px;
    margin: 5px 0px 0px 0px;
    padding: 14px 12px;
    text-shadow: none;
    color: #fff;
    background-color: $green-dark;
    border: solid 2px $green-2;
    border-radius: 4px;
    background-image: none;
    &:hover{
      background-color: $grey;
      color: black;
      border: solid 2px black;
    }
  }
}


td.image {
  width: 60px;
}

td.image img {
  width: 60px;
  height: 60px;
}

.folders {
  width: 60%;
  font-family: open_sansbold;
  h1 {
    color: $text-grey;
    padding-bottom: 10px;
    text-align: left;
    font-family: open_sansbold;
  }
  h4 {
    padding-top: 20px;
    color: $green-2;
  }
  a { 
    border: 1px black; 
    color: black;
    text-decoration: none;
    font-size: 16px;
    &:hover{
      color: $green-2;
      text-decoration: none;
    }
  }
  th {
    font-size: 18x;
  }
  span {
    padding-right: 7px;
  }
}

.form-group {
  font-size: 16px;
}

.links {
  .btn-danger{
    border: solid 2px black;
    &:hover{
      background-color: $grey;
      color: black;
      border: solid 2px black;
    }
  }
  .btn-success{
    border: solid 2px $green-2;
    &:hover{
      background-color: $grey;
      color: black;
      border: solid 2px black;
    }
  }
  i {
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}