// Place all the styles related to the Folders controller here.
@import 'colors';
@import 'fonts';

body {
  margin: 50px 0;
  .btn-primary {
    font-size: 16px;
    float: none !important;
    display: block;
    width: 130px;
    margin: 5px 0px 0px 0px;
    padding: 14px 12px;
    text-shadow: none;
    color: #fff;
    background-color: $green-dark;
    border: solid 2px $green-2;
    border-radius: 4px;
    background-image: none;
    &:hover{
      background-color: $grey;
      color: black;
      border: solid 2px black;
    }
  }
}

td.image {
  width: 60px;
}

td.image img {
  width: 60px;
  height: 60px;
}

.folders {

  h1 {
    color: $text-grey;
    padding-bottom: 10px;
    text-align: left;
    font-family: open_sansbold;
  }
}

  