@import 'colors';

h1{
  text-align: center;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url("fonts/OpenSans-Bold-webfont.eot");
  src: url("fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* TOP BAR USED IN HEADER */
.top-bar {
  width: 100%;
  height: 70px;
  background: $grey-dark;
  position: relative;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: $yellow-load;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-animation: load 3s forwards;
    -moz-animation: load 3s forwards;
    -ms-animation: load 3s forwards;
    -o-animation: load 3s forwards;
    animation: load 3s forwards;
  }
}

@-webkit-keyframes load {
  /* line 48, ../sass/partials/_layout.scss */
  to {
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes load {
  /* line 48, ../sass/partials/_layout.scss */
  to {
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes load {
  /* line 48, ../sass/partials/_layout.scss */
  to {
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes load {
  /* line 48, ../sass/partials/_layout.scss */
  to {
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* line 54, ../sass/partials/_layout.scss */
.main-logo {
  color: white;
  font-size: 24px;
  font-family: "open_sansbold";
  line-height: 65px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  display: inline-block;
}

/* MAIN NAVIGATION */
/* line 78, ../sass/partials/_layout.scss */
.sidebar {
  float: left;
  width: 300px;
  position: relative;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  margin-bottom: -999px;
  padding-bottom: 999px;
}

/* line 88, ../sass/partials/_layout.scss */
.main-nav {
  list-style: none;
}

/* line 92, ../sass/partials/_layout.scss */
.main-nav__link {
  display: block;
  color: $grey;
  font-size: 14px;
  font-family: "open_sansregular";
  text-transform: uppercase;
  background: #fff;
  line-height: 68px;
  box-shadow: inset 0 -1px 0 #e5e5e5;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 40px;
}
/* line 106, ../sass/partials/_layout.scss */
.main-nav__link:hover {
  text-decoration: none;
  color: inherit;
}
/* line 110, ../sass/partials/_layout.scss */
.main-nav__link:after {
  font-family: "Pe-icon-7-filled" !important;
  content: "\e6a4";
  font-size: 22px;
  position: absolute;
  right: 20px;
  color: #bcbcbc;
}

/* line 120, ../sass/partials/_layout.scss */
.main-nav li:not(.main-nav--active):hover .main-nav__link {
  background: #cdde81;
  color: #fff;
  box-shadow: inset 0 -1px 0 #51aab2;
}
/* line 124, ../sass/partials/_layout.scss */
.main-nav li:not(.main-nav--active):hover .main-nav__link .main-nav__icon {
  background: #b9ce5a;
}
/* line 127, ../sass/partials/_layout.scss */
.main-nav li:not(.main-nav--active):hover .main-nav__link:after {
  color: #fff;
}

/* line 132, ../sass/partials/_layout.scss */
.main-nav__icon {
  display: inline-block;
  background: #f6f6f6;
  text-align: center;
  width: 68px;
  height: 68px;
  margin-right: 21px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 140, ../sass/partials/_layout.scss */
.main-nav__icon i {
  font-size: 20px;
  vertical-align: middle;
}
/* line 144, ../sass/partials/_layout.scss */
.main-nav--active .main-nav__icon {
  background: #00964d;
  color: #fff;
}

/* line 150, ../sass/partials/_layout.scss */
.main-nav--collapsible {
  height: auto;
}
/* line 152, ../sass/partials/_layout.scss */
.main-nav--collapsible.main-nav--open .main-nav__submenu, .main-nav--collapsible:hover .main-nav__submenu {
  max-height: 500px;
}
/* line 155, ../sass/partials/_layout.scss */
.main-nav--collapsible.main-nav--open .main-nav__link:after, .main-nav--collapsible:hover .main-nav__link:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* BODY CONTENT */
.content {
  margin-left: 281px;
  padding: 35px 35px 63px 35px;
  overflow: auto;
}

/*  CURRENTLY IN HEADER */
.rounded-image {
  border-radius: 50%;
  overflow: hidden;
}
/* All profile html in header, too*/
.profile__name {
  font-size: 16px;
}

.profile {
  position: absolute;
  right: 0;
  top: 0;
  color: $grey;
  padding-right: 90px;
}
/* AFFECTS LOG OUT LINK */
.profile li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.profile i {
  font-size: 24px;
  vertical-align: middle;
}

.profile a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding-right: 18px;
  padding-left: 18px;
  height: 74px;
  line-height: 74px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.profile a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.profile__user {
  line-height: 72px;
  color: #9a9a9a;
  font-size: 14px;
}

.profile__user:hover {
  color: inherit;
}

.profile__user i {
  font-size: 18px;
  margin-left: 10px;
  vertical-align: middle;
}

.profile__name span {
  font-family: "open_sansbold";
  color: white;
}

.profile__name i {
  margin-left: 5px;
}

.profile__img {
  width: 45px;
  height: 45px;
  margin-top: 15px;
  margin-right: 20px;
}

/* momentarily save alerts for html changes */
/*************
*** Alerts ***
**************/
/* line 474, ../sass/partials/_modules.scss */
.alert {
  padding: 25px;
  position: relative;
  border: none;
  border-radius: 2px;
}
/* line 479, ../sass/partials/_modules.scss */
.alert .media-body {
  padding-left: 25px;
}

/* line 483, ../sass/partials/_modules.scss */
.alert--title {
  font-family: "open_sansbold";
  color: #444;
  font-size: 14px;
}

/* line 488, ../sass/partials/_modules.scss */
.alert--text, .widget__content .alert--text {
  color: #9a9a9a;
  font-size: 12px;
  margin-top: 5px;
}

/* line 493, ../sass/partials/_modules.scss */
.alert--icon {
  font-size: 34px;
  margin-right: 25px;
}

/* line 497, ../sass/partials/_modules.scss */
.alert-dismissable .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 501, ../sass/partials/_modules.scss */
.alert-danger {
  background-color: #fef2f2;
  color: #f35958;
}

/* line 505, ../sass/partials/_modules.scss */
.alert-warning {
  background-color: #fff5dc;
  color: #ff9c4b;
}

/* line 509, ../sass/partials/_modules.scss */
.alert-info {
  background-color: #edf7fc;
  color: #60c6cf;
}

/************
*** Forms ***
*************/
/* line 733, ../sass/partials/_modules.scss */
.input-text, .textarea {
  width: 100%;
  font-family: "open_sansregular";
  font-size: 12px;
  padding: 7px;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

/* line 742, ../sass/partials/_modules.scss */
#uploader {
  display: none;
}

/* line 743, ../sass/partials/_modules.scss */
label[for=uploader] {
  font-family: "open_sansregular";
  margin-top: 10px;
  width: 100%;
  padding: 11px;
  background: #fff;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #656268;
  position: relative;
  margin-bottom: 10px;
}

/* line 757, ../sass/partials/_modules.scss */
label[for=uploader]:after {
  content: "+";
  text-align: center;
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 7px;
  width: 20px;
  top: 7px;
  line-height: 20px;
  background: #60c6cf;
}

/* line 771, ../sass/partials/_modules.scss */
/*.checkbox, .radio {
  display: none;
}

/* line 772, ../sass/partials/_modules.scss */
.checkbox + label, .radio + label {
  font-family: "open_sansregular";
  font-size: 12px;
  color: #656268;
  padding-left: 20px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: 5px;
  padding-top: 3px;
}

/* line 784, ../sass/partials/_modules.scss */
.checkbox + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 14px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.06);
  color: #656268;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

/* line 799, ../sass/partials/_modules.scss */
.checkbox:checked + label:before {
  content: '✓';
}

/* line 800, ../sass/partials/_modules.scss */
.radio + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}

/* line 810, ../sass/partials/_modules.scss */
.radio + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  display: none;
}

/* line 821, ../sass/partials/_modules.scss */
.radio:checked + label:after {
  display: block;
}

@media (max-width: 1200px) {
  /* line 3, ../sass/partials/_responsive.scss */
  .main-header__date span, .main-header__date i:first-child {
    display: none;
  }

  /* line 5, ../sass/partials/_responsive.scss */
  .number-entries .ui-spinner, .widget__header .dropdown {
    display: none;
  }

  /* line 8, ../sass/partials/_responsive.scss */
  .main-stats .main-stats__stat {
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
  }

  /* line 12, ../sass/partials/_responsive.scss */
  .main-stats > div:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}
@media (max-width: 1024px) {
  /* line 19, ../sass/partials/_responsive.scss */
  .main-header__date span, .main-header__date i:first-child {
    display: none;
  }

  /* line 21, ../sass/partials/_responsive.scss */
  .number-entries .ui-spinner, .widget__header .dropdown {
    display: none;
  }
}
@media (max-width: 995px) {
  /* line 28, ../sass/partials/_responsive.scss */
  .sidebar {
    width: 69px;
  }

  /* line 31, ../sass/partials/_responsive.scss */
  .content {
    margin-left: 71px;
    padding-right: 60px;
  }

  /* line 35, ../sass/partials/_responsive.scss */
  .main-footer {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 20px;
  }

  /* line 42, ../sass/partials/_responsive.scss */
  .back-top {
    position: absolute;
    left: 15px;
    bottom: 0;
    margin-bottom: 0;
  }

  /* line 48, ../sass/partials/_responsive.scss */
  .main-nav__link {
    position: relative;
  }
  /* line 50, ../sass/partials/_responsive.scss */
  .main-nav__link:after {
    display: none;
  }

  /* line 54, ../sass/partials/_responsive.scss */
  .main-nav__badge {
    position: absolute;
    right: 10px;
    top: 15px;
  }

  /* line 60, ../sass/partials/_responsive.scss */
  .main-nav__submenu i {
    display: block;
  }
  /* line 61, ../sass/partials/_responsive.scss */
  .main-nav__submenu span {
    display: none;
  }
  /* line 62, ../sass/partials/_responsive.scss */
  .main-nav__submenu li a {
    padding-left: 0;
    text-align: center;
  }

  /* line 67, ../sass/partials/_responsive.scss */
  .profile {
    padding-right: 0px;
  }

  /* line 70, ../sass/partials/_responsive.scss */
  .profile__name {
    display: none;
  }

  /* line 71, ../sass/partials/_responsive.scss */
  .profile__img {
    margin-right: 0;
  }

  /* line 72, ../sass/partials/_responsive.scss */
  .main-search input {
    width: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 77, ../sass/partials/_responsive.scss */
  .separator--vertical:after {
    display: none;
  }

  /* line 78, ../sass/partials/_responsive.scss */
  .number-entries .ui-spinner, .widget__header .dropdown {
    display: block;
  }

  /* line 81, ../sass/partials/_responsive.scss */
  code {
    word-wrap: break-word;
  }
}
@media (max-width: 767px) {
  /* line 88, ../sass/partials/_responsive.scss */
  .main-search, .main-header__breadcrumb {
    display: none;
  }

  /* line 89, ../sass/partials/_responsive.scss */
  .main-logo {
    margin-left: 20px;
    margin-top:10px;
  }

  /* line 90, ../sass/partials/_responsive.scss */
  .number-entries .ui-spinner, .widget__header .dropdown {
    display: none;
  }

  /* line 93, ../sass/partials/_responsive.scss */
  .tabs__tab {
    font-size: 13px;
  }

  /* line 94, ../sass/partials/_responsive.scss */
  .attach_links {
    display: block;
    margin-bottom: 5px;
  }
}
@media (max-width: 480px) {
  /* line 100, ../sass/partials/_responsive.scss */
  .top-bar, .sidebar {
    position: absolute;
    z-index: 999;
  }

  /* line 105, ../sass/partials/_responsive.scss */
  .profile li:not(:first-child) {
    display: none;
  }
  /* line 108, ../sass/partials/_responsive.scss */
  .profile li ul li {
    display: block !important;
  }

  /* line 112, ../sass/partials/_responsive.scss */
  .switch--header {
    display: none;
  }

  /* line 113, ../sass/partials/_responsive.scss */
  .sidebar {
    width: 100%;
    top: 72px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* line 119, ../sass/partials/_responsive.scss */
  .main-nav {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  /* line 122, ../sass/partials/_responsive.scss */
  .main-nav.open {
    max-height: 1000px;
  }

  /* line 126, ../sass/partials/_responsive.scss */
  .main-nav__badge {
    position: relative;
    right: auto;
    top: auto;
  }

  /* line 131, ../sass/partials/_responsive.scss */
  .main-header__date {
    display: none;
  }

  /* line 133, ../sass/partials/_responsive.scss */
  .main-nav__submenu i {
    display: none;
  }
  /* line 134, ../sass/partials/_responsive.scss */
  .main-nav__submenu span {
    display: block;
  }
  /* line 135, ../sass/partials/_responsive.scss */
  .main-nav__submenu li a {
    padding-left: 110px;
    text-align: left;
  }

  /* line 140, ../sass/partials/_responsive.scss */
  .mini-barchart--wrapper {
    text-align: right;
  }

  /* line 141, ../sass/partials/_responsive.scss */
  .mini-donut {
    margin-bottom: 10px;
  }

  /* line 142, ../sass/partials/_responsive.scss */
  .content {
    margin-left: 0;
    padding-right: 23px;
    padding-left: 23px;
    margin-top: 72px;
  }

  /* line 148, ../sass/partials/_responsive.scss */
  .table {
    font-size: 12px;
  }

  /* line 149, ../sass/partials/_responsive.scss */
  .tabs__tab {
    font-size: 12px;
    padding: 20px 10px;
  }

  /* line 150, ../sass/partials/_responsive.scss */
  .social_msg__img {
    float: none !important;
    margin-bottom: 15px;
  }

  /* line 151, ../sass/partials/_responsive.scss */
  .user__img {
    margin-right: 15px !important;
  }

  /* line 152, ../sass/partials/_responsive.scss */
  .widget--map .widget__content {
    position: relative;
    background: #fff;
    width: auto;
    margin-bottom: 25px;
  }

  /* line 153, ../sass/partials/_responsive.scss */
  .main-logo {
    margin-left: 0;
    margin-top:10px;
  }

  /* line 154, ../sass/partials/_responsive.scss */
  .mobile-nav {
    display: inline-block;
  }

  /* line 157, ../sass/partials/_responsive.scss */
  .back-top {
    left: 35px;
    bottom: -13px;
  }
}





.simform {
  position: relative;
  margin: 0 auto;
  padding: 2em 0;
  width: 100%;
  text-align: left;
  font-size: 2.5em;
}

.simform .submit {
  display: none;
}

/* Question list style */
.simform ol {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.simform ol:before {
  content: '';
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 2.35em;
}

.questions li {
  z-index: 100;
  position: relative;
  visibility: hidden;
  height: 0;
  -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
  transition: visibility 0s 0.4s, height 0s 0.4s;
}

.questions li.current,
.no-js .questions li {
  visibility: visible;
  height: auto;
  -webkit-transition: none;
  transition: none;
}

/* Labels */
.questions li > span {
  display: block;
  overflow: hidden;
}

.questions li > span label {
  display: block;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.questions li.current > span label,
.no-js .questions li > span label {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.show-next .questions li.current > span label {
  -webkit-animation: moveUpFromDown 0.4s both;
  animation: moveUpFromDown 0.4s both;
}

@-webkit-keyframes moveUpFromDown {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
  to { -webkit-transform: translateY(0); transform: translateY(0); }
}

/* Input field */
.questions input {
  display: block;
  margin: 0.3em 0 0 0;
  padding: 0.5em 1em 0.5em 0.7em;
  width: 80%;
  border: none;
  background: transparent;
  color: rgba(0,0,0,0.5);
  font-size: 1em;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.questions .current input,
.no-js .questions input {
  opacity: 1;
}

.questions input:focus,
.simform button:focus {
  outline: none;
}

/* Next question button */
.btn_next.next {
  position: absolute;
  right: 0;
  bottom: 2.9em; /* padding-bottom of form plus progress bar height */
  display: block;
  padding: 0;
  width: 2em;
  height: 2.35em;
  border: none;
  background-color:#00964d;
  color: rgba(255,255,255,0.8);
  text-align: center;
  opacity: 100;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn_next.next:hover {
  color: rgba(0,0,0,0.5);
}

.btn_next.next::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\e699";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'Pe-icon-7-stroke';
  line-height: 2.4;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn_next.next.show {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  pointer-events: auto;
}

.back {
  position: absolute;
  left: 0;
  bottom: 2.9em; /* padding-bottom of form plus progress bar height */
  display: block;
  padding: 0;
  width: 2em;
  height: 2.35em;
  border: none;
  background-color:#fdfdfd;
  color: rgba(0,0,0,0.2);
  text-align: center;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.back:hover {
  color: rgba(0,0,0,0.5);
}

.back::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\e6a2";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'Pe-icon-7-stroke';
  line-height: 2.4;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.back.show {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  pointer-events: auto;
}

/* Progress bar */
.simform .progress {
  width: 0%;
  height: 0.15em;
  background: rgba(0,150,77,1);
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.simform .progress::before {
  position: absolute;
  top: auto;
  width: 100%;
  height: inherit;
  background: rgba(0,0,0,0.05);
  content: '';
}

/* Number indicator */
.simform .number {
  position: absolute;
  right: 0;
  overflow: hidden;
  margin: 0.4em 0;
  width: 3em;
  font-weight: 700;
  font-size: 0.4em;
}

.simform .number:after {
  position: absolute;
  left: 50%;
  content: '/';
  opacity: 0.4;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.simform .number span {
  float: right;
  width: 40%;
  text-align: center;
}

.simform .number .number-current {
  float: left;
}

.simform .number-next {
  position: absolute;
  left: 0;
}

.simform.show-next .number-current {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.simform.show-next .number-next {
  -webkit-animation: moveUpFromDown 0.4s both;
  animation: moveUpFromDown 0.4s both;
}

/* Error and final message */
.simform .error-message,
.simform .final-message {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.simform .error-message {
  padding: 0.4em 3.5em 0 0;
  width: 100%;
  color: rgba(0,0,0,0.7);
  font-style: italic;
  font-size: 0.4em;
}

.final-message {
  top: 50%;
  left: 0;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.error-message.show,
.final-message.show {
  visibility: visible;
  opacity: 1;
}

.final-message.show {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* Final hiding of form / showing message */
.simform-inner.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

/* No JS Fallback */
.no-js .simform {
  font-size: 1.75em;
}

.no-js .questions li {
  padding: 0 0 2em;
}

.no-js .simform .submit {
  display: block;
  float: right;
  padding: 10px 20px;
  border: none;
  background: rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.4);
}

.no-js .simform .controls {
  display: none;
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

.multiselect {
        width: 200px;
    }
    .payrollSelectBox {
        position: relative;
    }
    .payrollSelectBox select {
        width: 100%;
        font-weight: bold;
        color: white ;
    }
    .overSelect {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
    }
    .myselectbox{
      background-color: #5CB85C ;
    }
    .pay-tab-checkboxes {
      display: none;
      border: 1px #5CB85C solid;
      background-color: #5CB85C ;
      position: absolute;
      z-index: 9;
      width: 200px;
      padding: 10px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      height: 180px;
      overflow-y: scroll;
    }
    .pay-tab-checkboxes label {
        display: block;
        color: white ;
        padding-top: 12px;
    }
    .pay-tab-checkboxes label:hover {
        background-color: #5CB85C;
    }
    .pay-tab-checkboxess label input{
      margin: 0 5px 0 0;
    }
/* Adjust form for smaller screens */
@media screen and (max-width: 44.75em) {
  .simform {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 33.5625em) {
  .simform {
    font-size: 1.2em;
  }
}

