// Place all the styles related to the Salaries controller here.
@import 'colors';
@import 'fonts';

.salaries {
	font-family: open_sansregular;
	font-size: 14px;
	color: $text-grey;
	box-sizing: border-box;

	h1 {
	padding-bottom: 10px;
	text-align: left;
	font-family: open_sansbold;
	}
	th, td {
		padding: 5px 20px;
		border: solid 1px $text-grey;
		border-collapse: collapse;
	    box-sizing: border-box;
	    border: solid 1px;
	    text-align: center;
	}
	th {
		text-align: center;
		font-family: open_sansbold;
		font-size: 14px;
		background-color: $green-dark;
	}
}