<h1> Medical Type indexing test </h1>

<h3>R<%= @rate_selection.benefit_details.count %>S</h3>

<table>
  <thead>
    <th></th>
    <% @benefit_profiles.each do |profile| %>
    <th> | <%= profile.provider %> <%= profile.provider_plan%></th>

  <% end %>
  </thead>
  <tbody>
    <tr>
      <td>Employee Only</td>
      <td>100</td>
      <td>150</td>
      <td>200</td>
    </tr>
    <tr>
      <td>Employee plus Spouse</td>
      <td>200</td>
      <td>250</td>
      <td>300</td>
    </tr>
    <tr>
      <td>Employee plus Dependent</td>
      <td>300</td>
      <td>350</td>
      <td>400</td>
    </tr>
  </tbody>
</table>