<% provide(:title, 'Benefit Selections') %>

<div class='ben-selections'>
  <h1>Benefit Selections</h1>
  <h3>Choose Type:</h3>
</div>

</br>

<div class='ben-selections'>
  <table class='ben-selections'>
    <thead>
      <tr>
        <th>Insurance Type</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @benefit_types.each do |type| %>
        <tr>
          <td><%="#{type}" %></td>
          <!-- Sort links by type -->
          <td><%= link_to "Choose #{type} Benefits", company_employee_benefit_selection_type_path(type: type) %></td>   
      <% end %>
    </tbody>
  </table>
</div>
<br>
