<p id="notice"><%= notice %></p>

<h1>Listing Employee Benefits</h1>

<table>
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>PTO Balance</th>
      </tr>
  </thead>

  <tbody>
        <% @employee_benefits.each do |employee_benefit| %>
          <tr>
              <td><%= employee_benefit.ee_id %></td>
              <td><%= employee_benefit.employee_name%></td>
              <td><%= employee_benefit.pto_balance%></td>


          </tr>
      <% end %>
  </tbody>
</table>

<br>