<p id="notice"><%= notice %></p>

<h1>Listing Employee Benefits</h1>

<table>
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>PTO Balance</th>
      </tr>
  </thead>

  <tbody>
        <% @employee_benefits.each do |employee_benefit| %>
          <tr>
              <td><%= employee_benefit.ee_id %></td>
              <td><%= employee_benefit.employee_name%></td>
              <td><%= employee_benefit.pto_balance%></td>


          </tr>
      <% end %>
  </tbody>
</table>

<br>

<% @benefits_to_show = Array.new %>
<% @employee_benefits.each do |benefit| %>
  <%# if !(@employee.hidden_benifits.include? benefit.id) || current_admin_user.present? %>
    <% @benefits_to_show << benefit %>
  <%# end %>
<% end %>

